body{
    
    font-family: Arial;
    padding: 0px;
    background: white;
    text-align:left;
    font-family: Georgia;
    
    
    border: 2px solid black;
    width: 1030px;
    height: 400px;
    margin: 100px;
    padding: 0PX;


    
}
